<html ng-app="ionicApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

	<title>Menus Signalement</title>

	<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
	<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

</head>

<body>
	<ion-popover-view class="customTrans">
		<ion-content>
			<div class="list">
				<a ng-click="signalAccident()" class="item">
              Accident
            </a>
				<a ng-click="signalRadar()" class="item">
              Radar / Police
            </a>
				<a ng-click="signalTrafic()" class="item">
              Trafic important
            </a>
				<a ng-click="signalOther()" class="item">
              Autre
            </a>
				<a ng-click="signalOther()" class="item">
              Autre
            </a>
			</div>
		</ion-content>
	</ion-popover-view>
</body>

</html>